.popular__blogs{
    background: $body-bgcolor;

    &-title{
        font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    padding: 94px 0 64px 0; 
    }
}

.popular__cards{
    @include flex;
    column-gap: 24px;
    
    @include for-line{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 60px;
        padding: 0 24px;

    }
    @include for-tablet{
        @include flex;
       
    }
    @include for-mobile{
        padding: 0 12px;
    }

    &-card{
        max-width: 405px;
        @include for-line{
            display: flex;
            max-width: 100%;
            align-items: center;
            column-gap: 40px;
            
        }
        @include for-tablet{
            flex-direction: column;
            max-width: 405px;
        }
        &-img{
            width: 100%;
            cursor: pointer;
            transition: 0.5s ease;
            @include for-line{
                max-width: 200px;
                height: 200px;
                object-fit: cover;
            }
            @include for-tablet{
               max-width: 405px;
               height: 400px;
            }
        }
    }
}
.card__about{
    &-byName{
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #4C4C4C;
padding-top: 32px;
transition: 0.5s ease;
        
        &-two{
            color: #f305f7;
        }

        @include for-line{
            padding-top: 1px;
        }
        @include for-tablet{
            padding-top: 32px;
        }
    }
    &-title{
        font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
color: #232536;
transition: 0.5s ease;
padding: 16px 0;
    }
    &-text{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #232536;
opacity: 0.7;
transition: 0.5s ease;
    }
}



.line{
    width: 100%;
    height: 3px solid grey;
    margin-top: 77px;
}