@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sen-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sen-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-v7-latin-regular.woff2") format("woff2"), url("../fonts/sen-v7-latin-regular.woff") format("woff"), url("../fonts/sen-v7-latin-regular.ttf") format("truetype"), url("../fonts/sen-v7-latin-regular.svg#Sen") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  background: #232536;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .menu {
    position: absolute;
    row-gap: 24px;
    width: 100%;
    height: 150px;
    background: rgba(3, 20, 45, 0.7803921569);
    top: 50px;
    top: -200%;
    right: 0;
    z-index: 21;
    margin-top: 50px;
    transition: 0.5s ease;
    justify-content: center;
  }
}
@media (max-width: 722px) {
  .menu {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}
@media (max-width: 567px) {
  .menu {
    min-height: 720px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
  }
}
.menu-btn {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background: #FFFFFF;
  padding: 16px 48px;
  cursor: pointer;
  transition: 0.5s ease;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: 80px;
}
@media (max-width: 722px) {
  .menu-btn {
    margin-left: 0;
  }
}
.menu-btn:hover {
  color: #FFFFFF;
  background: #232536;
  border: 2px solid #FFFFFF;
}
.menu-btn:focus {
  color: #232536;
  background: #FFFFFF;
  border: 2px solid #232536;
}

.menu.active {
  top: 50px;
  right: 1px;
}

.menu__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 768px) {
  .menu__bar {
    align-items: flex-start;
    row-gap: 24px;
  }
}
@media (max-width: 567px) {
  .menu__bar {
    flex-direction: column;
  }
}
.menu__bar-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  transition: 0.5s ease;
}
@media (max-width: 768px) {
  .menu__bar-link {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
}
.menu__bar-link:hover {
  color: red;
}
.menu__bar-item {
  transition: 0.5s ease;
}
.menu__bar-item:hover {
  transform: scale(1.1);
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger__line {
  transition: 0.3s;
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  margin: 7px;
}

.hamburger.active .hamburger__line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.hearor {
  background-image: url("../images/hearor_bg.jpg");
  width: 100%;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hearor__hart {
  display: flex;
  align-items: center;
  min-height: 720px;
}
@media (max-width: 567px) {
  .hearor__hart {
    text-align: center;
    padding: 0 24px;
  }
}

.hero__posted {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: 0.5s ease;
  padding-bottom: 24px;
}
@media (max-width: 722px) {
  .hero__posted {
    padding-top: 24px;
  }
}
.hero__posted-two {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 20px;
  color: #FFFFFF;
}
.hero__title {
  font-family: "Sen";
  max-width: 883px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  transition: 0.5s ease;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 567px) {
  .hero__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
  }
}
.hero__byName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  transition: 0.5s ease;
  padding-bottom: 16px;
}
.hero__byName-two {
  color: rgb(245, 170, 7);
}
.hero__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  transition: 0.5s ease;
  max-width: 599px;
  padding-bottom: 44px;
}
@media (max-width: 768px) {
  .hero__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.hero__btn {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background: #FFD050;
  transition: 0.5s ease;
  padding: 16px 48px;
  border: 2px solid transparent;
}
.hero__btn:hover {
  background: transparent;
  color: #FFD050;
  border: 2px solid #FFD050;
}
.hero__btn:focus {
  background: transparent;
  color: #f41000;
  border: 2px solid #fa0303;
}

.blogPost-about-me {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.blogPost-about-me-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding-top: 12px;
}

.blogpost-about-me-myName {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #592EA9;
  transition: 0.5s;
  max-width: 300px;
}

.blogPost-about-me-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 350px;
  /* identical to box height, or 175% */
  /* Medium grey */
  color: #6D6E76;
}

.blogPost-about {
  max-width: 843px;
  margin: 0 auto;
}
.blogPost-about-title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #232536;
  transition: 0.5s;
  max-width: 743px;
  padding: 24px 12px 34px 12px;
}
.blogPost-about-text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: 0.5s;
  color: #232536;
  padding: 0 12px 62px 12px;
  max-width: 743px;
}
.blogPost-about-texts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 24px 12px;
  color: #6D6E76;
  max-width: 743px;
}

.blogPost__part {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.blogPost__part-title {
  text-align: center;
  padding-bottom: 22px;
}
.blogPost__part-input {
  width: 100%;
  padding: 8px 12px 8px 1px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  margin-bottom: 12px;
}
.blogPost__part-btn {
  padding: 12px 34px;
  text-align: end;
}

.postImg {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #232536;
  min-height: 100px;
  width: 100%;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
@media (max-width: 567px) {
  .footer__menu {
    flex-direction: column;
    text-align: center;
    row-gap: 24px;
  }
}

.footer__lefthart-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  transition: 0.5s ease;
  opacity: 0.7;
}

.footer__righthart {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding-bottom: 25px;
}
.footer__righthart-img {
  border-radius: 4px;
}/*# sourceMappingURL=blog-post.css.map */