.login{
    background-color: $body-bgcolor;

    &-part{
        max-width: 700px;
        height: 100vh;
        margin: 0 auto;
        padding: 150px 24px;

        &-title{
            font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #232536;
padding-bottom: 50px;

        }

        &-input{
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
width: 100%;
padding: 15px 15px;
margin-top: 24px ;
outline: none;
        }
        &-btn{
            font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #232536;
width: 100%;
padding: 15px 0;
background: #FFD050;
border: 2px solid transparent;
margin-top: 75px;
transition: 0.5s;
        }
        &-btn:hover{
            background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.61%);
            border-radius: 22px;
            color: #de1607;
            border: 2px solid red;
            
                    }
                    &-btn:focus{
                        background:linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%);
                        border-radius: 22px;
            
                                 color:rgba(0, 255, 0, 0.979) ;
                        border: 2px solid rgb(98, 255, 0);
                        
                                }
    }
}
.notActive{
    border: 2px solid red;
    border-radius: 22px;
    transition: 0.5s ;
}
.Active{
    border: 2px solid green;
    border-radius: 22px;
    transition: 0.5s;
}