
.blogPost-about-me{
    display: flex;
    column-gap: 16px;

    &-img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        padding-top: 12px;
    }

}
.blogpost-about-me-myName{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
color: #592EA9;
transition: 0.5s;
max-width: 300px;
}
.blogPost-about-me-text{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
max-width: 350px;
/* identical to box height, or 175% */


/* Medium grey */

color: #6D6E76;
}

.blogPost-about{
    
    max-width: 843px;
    margin: 0 auto;
    
    &-title{
        font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
color: #232536;
transition: 0.5s;
max-width: 743px;
padding: 24px 12px 34px 12px;
    }
    &-text{
        font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
transition: 0.5s;
color: #232536;
padding: 0 12px 62px 12px;
max-width: 743px;


    }
    &-texts{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        padding: 24px 12px;
        color: #6D6E76;
        max-width: 743px;
    }
}



.blogPost__part{
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    &-title{
        text-align: center;
        padding-bottom: 22px;
    }

    &-input{
        width: 100%;
        padding: 8px 12px 8px 1px;
        border: none;
        outline: none;
        border-bottom: 1px solid grey;
        margin-bottom: 12px;
    }
    &-btn{
        padding: 12px 34px;
        text-align: end;
    }
}
.postImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
}